body, html {
    margin: auto;
    width: 100%;
}

/* main element styles*/
main, input, button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: hsl(0deg, 0%, 20%);
}
main {
    padding: 1em;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* todo-list styles*/
section#todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#todo-list h2 {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 2rem;
}
section#todo-list ul {
    list-style-type: none;
    border: 1px solid lightgrey;
    width: 75%;
    padding: 0;
}
section#todo-list li {
    display: flex;
    height: 3em;
}
section#todo-list li:nth-child(even) {
    background-color: hsl(0, 0%, 93%);
}
section#todo-list li p {
    padding-left: 1em;
    flex-basis: 70%;
}

/* edit list item form */
section#todo-list form {
    display: flex;
    width: 100%;
}
section#todo-list form input {
    background-color: hsl(50deg, 100%, 98%);
    flex-basis: 70%;
    border: none;
    padding: 1em;
}
section#todo-list form button {
    flex-basis: 15%;
}

/* todo-form styles*/
section #todo-form {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}
section #todo-form input:first-of-type {
    flex-basis: 50%;
}

/* Information section */
section#information {
    font-size: 0.75em;
}
section#information p:last-of-type {
    text-align: center;
}

/* classes */
.action-button {
    flex-basis: 15%;
    border-radius: 0;
    border: 1px solid hsl(0, 0%, 93%);
    background-color: white;
}
.action-button:hover {
    background-color: hsl(0, 0%, 95%);
    transition: background-color 0.5s ease-in-out;
}
